.graphActions {
    color: #fff;
    margin-left: 3%;
    margin-top: 24px;
}

.cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;

    div {
        display: flex;
        align-items: center;
    }
}

.bigCost {
    font-weight: 700;
    font-size: 30px;
}

.profit {

    p:first-of-type {
        color: #02C173;
    }
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
}

.profit {
    display: flex;
    align-items: center;
}

.amount {
    display: flex;
    align-items: center;
    padding: 4px 2%;
    white-space: nowrap;
    background-color: #FFFFFF14;
}

.selection {
    display: flex;
    align-items: center;
    margin-right: 12%;
    white-space: nowrap;
    background-color: #FFFFFF14;
}


.positions {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    margin: 8px 0;

    div {
        display: flex;
    }
}


.menu {
    position: absolute;
    bottom: 66%;
    right: 0.5%;
    border: 1px solid #555;
    background-color: #555;
    padding: 2%;
    color: black;
    border-radius: 15px;
    cursor: default;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}

.menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.menulist {
    width: 100%;
    list-style-type: none;
}

.menuitem {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 15px;

}

.menuitem:hover {
    background-color: #fff;
    padding: 5%;
}


.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-width: 300px;
    text-align: center;
    height: 268px;
    border-radius: 27px;
    background: linear-gradient(134.98deg, rgba(207, 63, 63, 0.15) 0%, rgba(223, 82, 21, 0.02) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(272.61deg, rgba(255, 255, 255, 0.2) 2.66%, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.05) 100%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 1s;
}


.modal.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear;
}


.modalContent {
    background: #FFFFFF14;
    padding: 30px 15%;
    border-radius: 15px;
    font-size: 20.65px;;
    font-weight: 400;
}

.modalButton {
    margin-top: 30px;

    a {
        text-decoration: none;
        background-color: #fff;
        color: #000;
        padding: 8px 20%;
        margin-top: 50px;
        border-radius: 8px;
    }
}

.close {
    display: flex;
}

.imgandinput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;


    input {
        width: 30%;
        border: none;
        border-radius: 4px;
        background-color: #ffffff30;
    }
}