.orders {
    width: 100%;
    position: relative;
    color: #fff;
    z-index: 1;
}

.money {
    margin-top: 17px;
}

.order {
    display: flex;
    align-items: center;
    margin: 0 0 16px 5%;
    gap: 6%;
    backdrop-filter: blur(100px);
}

.orderText {
    margin-left: 5%;
}

.tradingButton {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 85%;
    right: 40%;

    a {
        padding: 10% 15%;
        background: linear-gradient(134.98deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%);
        text-decoration: none;
        border-radius: 16px;
        border-image-source: linear-gradient(272.61deg, rgba(255, 255, 255, 0.2) 2.66%, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.05) 100%);
        border: 1px solid #FFFFFF33;
        white-space: nowrap;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
        backdrop-filter: blur(2px);
    }
}


@media (min-width: 400px) and (max-width: 864px) {
    .tradingButton {

        a{

            margin-left: -25%
        }
    }

}

@media (min-width: 650px) and (max-width: 864px) {
    .tradingButton {
        a{

            margin-left: -45%
        }
    }

}

@media (min-width: 820px) and (max-width: 864px) {
    .tradingButton {
        a{
            margin-left: -65%
        }
    }
}