*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Sk-Modernist';
  src: url('/src/fonts/Sk-Modernist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Sk-Modernist', sans-serif;
}